version: '3.8'

services:
  db:
    build:
      context: .
      dockerfile: database/Dockerfile
    container_name: petsitters_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_HOST_PORT}:5432"
    volumes:
      - ./database/backup.sql:/docker-entrypoint-initdb.d/backup.sql

  api:
    build:
      context: .
      dockerfile: app/Dockerfile
    container_name: petsitters_api
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "${API_HOST_PORT}:8000"
    depends_on:
      - db
